// sass scss/main.scss css/main.css
// sass --watch scss/main.scss css/main.css
// lo tengo configurado en el json, solo con poner el live ya me hva a hacer todo

/* <---------- Reset ----------> */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, textarea, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

button, a {
	cursor: none;
	text-decoration: none;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent; /* prevents the blue! */
}
input:hover,
textarea:hover,
button:hover,
a:hover {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}
input:active,
textarea:active,
button:active,
a:active {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}
input:visited,
textarea:visited,
button:visited,
a:visited {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}


/* <---------- Variables ----------> */

$background: #2c2c2e;
$light-grey: #B8B8B8;
$grey: #707070;
$red: #ED6767;
$bright-pink: #F88EE3;
$bright-blue: #87B0EF;
$bright-green: #87EFB4;
$bright-yellow: #EFE587;

$paragraph: 500 1.3em/2em Montserrat, sans-serif;
$main: 800 5rem/2.5rem Montserrat, sans-serif;




/* <---------- General ----------> */

html { font-size: 16px; cursor: none; }


body {
	font-family: 'Montserrat', sans-serif;
	background: $background;
	font: $paragraph;
	color: $grey;

	// Snap in Sections. also in x!! (projects)
	// scroll-behavior: smooth;
	// overflow: auto;  
	// scroll-snap-type: y mandatory;

	::-moz-selection {
		color: $red;
		// background-color: $light-grey;
	}
	::selection {
		color: $red;
		// background-color: $light-grey;
	}

	.container {
		width: 100%;
		padding: 2em 1em;
	}

	#cursor {
		pointer-events: none;
		position: fixed;
		width: 10px; height: 10px;
		transform: translate(-50%,-50%);
		background-color: $bright-blue;
		border-radius: 50%;
		mix-blend-mode: overlay;
		transition: transform 0.3s ease;
		z-index: 100;
	}
	#cursor.hover {
		transform: scale(3) translate(-50%,-50%);
		mix-blend-mode: difference;
	}

	.main {
		font: $main;
		color: $light-grey;
	}
	
	section {
		height: 100vh;
		// scroll-snap-align: start; //Snap
	}	
}


/* <---------- Typed ----------> */

.typed-wrapper{
	font: $main;

	.typed-constant { margin: 40px 0;}

	.color_1 { color: $bright-green; }
	.color_2 { color: $red; }
	.color_3 { color: $bright-pink; }
	.color_4 { color: $bright-blue; }
}





/* <---------- Timeline Section ----------> */

.timeline {
	position: relative;
	// width: 100%;
	height: 690px;

	color: white;
	overflow: hidden;

	.controls-wrapper {
		position: absolute;
		z-index: 3;
		bottom: 15px;
		width: 100%;
		
		button {
			position: absolute;
			bottom: 100px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: transparent;
			font-size: 1.2rem;
			i {
				color: #fff;
				font-size: 0.8em;
			}
			&.control-prev { left: 15px; }
			&.control-next { right: 15px; }
		}
	}

	.indicator {
		position: absolute;
		width: 200px;
		bottom: 150px;
		right: 30px;
		text-align: end;
		overflow: hidden;

		.out-of { display: inline-block; }

		.current-wrapper {
			position: absolute;
			right: 45px;
			font-size: 3em;
			transform: translateY(0);
			transition: transform 0.7s ease-in-out;
		}
	}

	.red-line {
		position: absolute;
		width: 100%;
		height: 3px;
		top: 35%;
		background: $red;
	}

	.projects-wrapper {
		border: white 1px solid;
		position: relative;
		height: 600px;
		top: 0;
		left: 0;
	
		flex-shrink: 0;
		display: flex;
		flex-flow: column wrap;
	
		transform: translateX(0);
		transition: all 0.9s cubic-bezier(0.2, 0, 0.2, 1);

		.project {
			position: relative;
			width: 100%;
			height: 100%;

			display: flex; justify-content: center; align-items: center;
	
			.img-wrapper {
				position: relative;
				// height: 100%;
				// width: fit-content;

				&.mobile { 
					height: 85%;
					width: fit-content;
					img {
						// width: fit-content;
						height: 100%;
					}
				}
				&.desktop { 
					width: 75%;
					img {
						width: 100%;
						// height: 100%;
					}
				}

				// img {
				// 	width: 100%;
				// 	height: 100%;
				// }

				&:before {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: red;
					opacity: 0.1;
					z-index: 10;
				}
				
				
			}

			p {
				position: absolute;
				// font: $paragraph;
			}

		}
	}
}
