// sass scss/main.scss css/main.css
// sass --watch scss/main.scss css/main.css
// lo tengo configurado en el json, solo con poner el live ya me hva a hacer todo

/* <---------- Reset ----------> */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, textarea, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

button, a {
	cursor: none;
	text-decoration: none;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent; /* prevents the blue! */
}
input:hover,
textarea:hover,
button:hover,
a:hover {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}
input:active,
textarea:active,
button:active,
a:active {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}
input:visited,
textarea:visited,
button:visited,
a:visited {
	outline: none;
	-webkit-tap-highlight-color: transparent; 
}


/* <---------- Variables ----------> */

$background: #2c2c2e;
$light-grey: #B8B8B8;
$grey: #707070;
$red: #ED6767;
$bright-pink: #F88EE3;
$bright-blue: #87B0EF;
$bright-green: #87EFB4;
$bright-yellow: #EFE587;

$font_main: 800 4.5rem/1.1em Montserrat, sans-serif;
$font_big: 800 3.5rem/1.3em Montserrat, sans-serif;
$font_small: 600 2rem/1.3em Montserrat, sans-serif;
$paragraph: 500 1.1em/1.7em Montserrat, sans-serif;
$nav-font: 500 0.7em/2em Montserrat, sans-serif;


.color_1 { color: $bright-green; }
.color_2 { color: $red; }
.color_3 { color: $bright-pink; }
.color_4 { color: $bright-blue; }



/* <---------- General ----------> */

html { 
	font-size: 20px; 
	cursor: none; 
	
	::-webkit-scrollbar {
		width: 3px;
		// position: absolute;
	}
	  
	::-webkit-scrollbar-track {
		background: transparent;
	}
	  
	::-webkit-scrollbar-thumb {
		background: $grey;
		border-radius: 5px;
		transition: background 0.3s;
	}
	  
	::-webkit-scrollbar-thumb:hover {
		background: $bright-blue;
	}
}



body {
	font-family: 'Montserrat', sans-serif;
	background: $background;
	font: $paragraph;
	color: $grey;

	// Snap in Sections. also in x!! (projects)
	// scroll-behavior: smooth;
	// overflow: auto;  
	// scroll-snap-type: y mandatory;

	::-moz-selection {
		color: $red;
		// background-color: $light-grey;
	}
	::selection {
		color: $red;
		// background-color: $light-grey;
	}

	.container {
		width: 100%;
		padding: 2em 1em;
	}

	#cursor {
		pointer-events: none;
		position: fixed;
		width: 10px; height: 10px;
		transform: translate(-50%,-50%);
		background-color: $bright-blue;
		border-radius: 50%;
		// mix-blend-mode: overlay;
		transition: transform 0.3s ease;
		z-index: 100;
	}
	#cursor.hover {
		transform: scale(3) translate(-50%,-50%);
		mix-blend-mode: difference;
	}

	.font_main {
		font: $font_main;
		color: $light-grey;
	}

	.font_big {
		font: $font_big;
		color: $light-grey;
	}

	.font_small {
		font: $font_small;
		color: $grey;
	}
	
	section {
		// ! change each sec
		min-height: 100vh;
		overflow-x: hidden;

		&#contact {
			background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
		}
	}	
}

@media (max-width: 1250px) { html{ font-size: 18px; }}
@media (max-width: 1000px) {
	$font_small: 600 1.3rem/1.3em Montserrat, sans-serif;
	html{ font-size: 17px; }
	body {
		.font_small { font: $font_small; }
	}
}
@media (max-width: 560px) { html{ font-size: 15px; }}
// todo: not working
@media (max-width: 370px) { html{ font-size: 14px; }}





/* <---------- Navbar ----------> */
.navbar {
	height: 100vh;
	position: fixed;
	left: 20px;
	z-index: 90;
	display: flex; justify-content: center; align-items: center;

	ul {
		list-style: none;
		position: relative;
	
		width: 50px;
		height: 65%;
		// max-height: 750px;
	
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.nav-item {
			font: $nav-font;
			position: relative;
			padding: 0 20px;
		
			color: $grey;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			transform: rotate(-90deg);
			
			transition: color 0.3s ease-out;

			&.active {
				color: $light-grey;
			}
		}
	}
}

/* <---------- Home ----------> */

#home {
	position: relative;

	.sub-section_1 {
		position: relative;
		top: 15%;
		left: 10%;
	}

	.sub-section_2 {
		position: absolute;
		margin-left: 15%;
		right: 10%;
		bottom: 40%;
		text-align: right;

		span {
			color: $grey;
		}

		.font_small {
			// position: relative;
			margin-top: 15px;
			// top: -20px;
		}
	}
}

@media (max-width: 600px) { 
	html { font-size: 15px; }
	#home {
		.sub-section_2 {
			bottom: 21%;
		}
	}
}


/* <---------- About ----------> */

#about {
	position: relative;

	display: flex; 
	flex-direction: row;
	@media (max-width: 1025px) { flex-direction: column; }
	.sub-section_1 {
		position: relative;
		padding: 13% 20px 0 7%;
		width: 50%;

		p {
			max-width: 600px;
		}

		@media (max-width: 1025px) { 
			width: 100%;
		}
	}

	.sub-section_2 {
		width: 50%;
		font: $font_main;

		position: absolute;
		top: 60%;
		right: 0;
		padding-right: 10%;

		@media (max-width: 1025px) { 
			width: 70%;
		}

		@media (max-width: 640px) { 
			font: $font_big;
		}

		@media (max-width: 450px) { 
			top: 75%;
			font-size: 40px;
		}
	}
}




/* <---------- Timeline Section ----------> */

#projects {
	position: relative;
	// width: 100%;
	height: 690px;
	color: $grey;
	overflow: hidden;

	.controls-wrapper {
		position: absolute;
		z-index: 3;
		bottom: 15px;
		width: 100%;
		
		button {
			position: absolute;
			bottom: 100px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: transparent;
			font-size: 1.2 rem;
			i {
				color: #fff;
				font-size: 0.8em;
			}
			&.control-prev { left: 15px; }
			&.control-next { right: 15px; }
		}
	}

	.indicator {
		position: absolute;
		width: 200px;
		height: 80px;
		bottom: 80px;
		right: 40px;
		font-size: 1.8rem;
		font-weight: 700;
		text-align: end;

		display: flex; justify-content: center; align-items: flex-end;
		z-index: 10;
		
		.out-of { 
			display: inline-block;
			// color: $grey;
		}
		
		.current-viewer {
			height: 70px;
			overflow: hidden;
			margin: 0 10px;
			.current-wrapper {
				// position: absolute;
				padding-top: 22px;
				color: $light-grey;
				transform: translateY(0);
				transition: transform 0.7s ease-in-out;
	
				p {
					font-size: 2.5em;
					margin-bottom: 30px;
				}
			}
		}
	}

	.red-line {
		position: absolute;
		width: 100%;
		height: 3px;
		top: 35%;
		background: $red;
	}

	.projects-wrapper {
		border: white 1px solid;
		position: relative;
		height: 600px;
		top: 0;
		left: 0;
	
		flex-shrink: 0;
		display: flex;
		flex-flow: column wrap;
	
		transform: translateX(0);
		transition: all 0.9s cubic-bezier(0.2, 0, 0.2, 1);

		.project {
			position: relative;
			width: 100%;
			height: 100%;

			display: flex; justify-content: center; align-items: center;

			.project-info {
				position: absolute;
				left: 10%;
				// font: $paragraph;
				z-index: 5;
				h3 {
					color: #fff;
					font-size: 5em;
					font-weight: 700;
				}
			}
	
			.img-wrapper {
				position: relative;
				// height: 100%;
				// width: fit-content;

				&.mobile { 
					height: 85%;
					width: fit-content;
					img {
						// width: fit-content;
						height: 100%;
						z-index: 0;
					}
				}
				&.desktop { 
					width: 75%;
					img {
						width: 100%;
						// height: 100%;
						z-index: 0;
					}
				}

				img {
					position: relative;
				}
				&:before {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-image: linear-gradient(65deg,rgba(16,9,27,.8),transparent 50%);
					z-index: 1;
				}	
			}			
		}
	}
}


#contact {
	display: flex; justify-content: center; align-items: center;
	.contact-form {
		width: 80%;
		max-width: 450px;
		// margin: 0 auto;

		input,
		textarea {
			width: 100%;
			margin-top: 8px;
			padding: 0 10px;
			font-size: 1em;
			border-radius: 3px;
			caret-color: $red;

			&::placeholder {
				color: $light-grey;
				font-size: 0.7em;

			}
		}

		input[type=submit] {
			background: $background;
			color: #fff;
			transition: all 0.3s ease-in;

			&:hover{
				background: #000;
				// opacity: 0.8;
			}
		}

	}
}